[submodule "console"]
	path = src/console
	url = https://github.com/xieguigang/console.git
[submodule "lsp"]
	path = languageserver
	url = https://github.com/rsharp-lang/languageserver.git
[submodule "installer"]
	path = installer
	url = https://github.com/rsharp-lang/install.git
