#editor {
    width: 500px;
    height: 150px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    margin-left: 50px;
}

button {
    margin-right: 5px;
}

#linenums {
    float: left;
    text-align: right;
    padding-right: 10px;
    user-select: none;
}

.linenumber {
    padding: 0 8px;
}